body {
		margin: 0;
		padding: 0;
		background-color: black;
	}

	.one {
		width: 300px;
		height: 300px;
		border: 1px solid blue;
		margin: 20px;
		transform: rotate(45deg);
		margin-top: 100px;
		margin-left: 100px;
		box-shadow: 20px 20px 20px #282923;
		background-image: url(images/dare.jpg);
		background-size: 300px 300px;
		float: left;
}
	.two {
		width: 300px;
		height: 300px;
		border: 1px solid blue;
		float: left;
		margin: 20px;
		transform: rotate(45deg);
		margin-top: 100px;
		margin-left: 100px;
		box-shadow: 20px 20px 20px #282923;
		background-image: url(images/dare2.jpg);
		background-size: 300px 300px;
		float: left;
		position: relative;
		left: 20px;

}
.three {
		width: 300px;
		height: 300px;
		border: 1px solid blue;
		float: left;
		margin: 20px;
		transform: rotate(45deg);
		margin-top: 100px;
		margin-left: 100px;
		box-shadow: 20px 20px 20px #282923;
		background-image: url(images/dare3.jpg);
		background-size: 300px 300px;
		float: left;
		position: relative;
		left: 40px;
		
}
.five {
		width: 300px;
		height: 300px;
		border: 1px solid blue;
		/*clear: both;*/
		margin: 20px;
		transform: rotate(45deg);
		margin-top: 100px;
		margin-left: 100px;
		box-shadow: 20px 20px 20px #282923;
		background-image: url(images/dare5.jpg);
		background-size: 300px 300px;
		float: left;
		position: relative;
		left: 20px;
		
}

.six {
		width: 300px;
		height: 300px;
		border: 1px solid blue;
		margin: 20px;
		transform: rotate(45deg);
		margin-top: 100px;
		margin-left: 100px;
		box-shadow: 20px 20px 20px #282923;
		background-image: url(images/dare6.jpg);
		background-size: 300px 300px;
		position: relative;
		float: left;
		left: 40px;
		
}

.four {
		width: 300px;
		height: 300px;
		border: 1px solid blue;
		float: left;
		margin: 20px;
		transform: rotate(45deg);
		margin-top: 100px;
		margin-left: 100px;
		box-shadow: 20px 20px 20px #282923;
		background-image: url(images/dare4.jpg);
		background-size: 300px 300px;
		
		
}
	p {
		color: red;
		font-size: 1.5em;
		font-family: verdana;
		text-align: center;
		font-weight: bold;

	}

.container {
	transform: scale(0.9);
	margin: 0;
	padding: 0;
	border: 1px solid blue;
	height: 500px;
	background: linear-gradient(45deg, cyan, purple);
}
h1 {
	text-align: center;
	font-family: verdana;
	color: white;
	letter-spacing: 10px;
}

.mainbox {
	transform: scale(0.55);
	padding: 0;
	border: 1px solid green;
	margin-top: -200px;
	background-color: cyan;
}
